
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
some_password: welcome

# device_tracker
choiz_phone_ip: '127.0.0.1'
geraldine_phone_ip: '127.0.0.2'

# tuya
tuya_username: 612345678
tuya_password: abcd1234
tuya_country_code: 00
tuya_platform: abcd

# pushbullet
pushbullet_api: abcd1234

# xiaomi
xiaomi_mac: '00:00:00:00:00:00'
xiaomi_key: 'abcd1234'
