
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
some_password: welcome

alarm_code: '1234'

base_url: 'https://url'

# braviatv
braviatv_host: '127.0.0.1'

# broadlink
broadlink_host: '127.0.0.1'
broadlink_mac: 'ab:ab:ab:ab:ab:ab'
broadlink_type: 'abcdef'

# device_tracker
ip_phone_ge: '127.0.0.1'
ip_phone_fr: '127.0.0.1'
ip_ampli: '127.0.0.1'
ip_freebox_4k: '127.0.0.1'
ip_tv: '127.0.0.1'

# linky
linky_username: abcdef
linky_password: 123456

# mqtt
mqtt_username: abcdef
mqtt_password: 123456

# mpd
mpd_nas_host: '127.0.0.1'
mpd_nas_port: 6600
mpd_tatooine_host: '127.0.0.1'
mpd_tatooine_port: 6600

# onkyo
onkyo_host: '127.0.0.1'

# slack
slack_api: xoxp-12345-12345-12345-ab12345
slack_channel: '#general'

# spotify
spotify_client_id: '1234abcd'
spotify_client_secret: '1234abcd'

# unifi
unifi_host: '127.0.0.1'
unifi_site: 'my site'

# vacuum
vacuum_host: '127.0.0.1'
vacuum_token: 'myToken'

# xiaomi
xiaomi_mac: '00:00:00:00:00:00'
xiaomi_key: '123456'
